{{template "base" .}}

{{define "content"}}
    <div class="container=">
        <div class="row">
            <div class="col">
                <h1>This is the about page</h1>
                <p>This is some more text</p>
                <p>This should be shown upon refresh</p>
            </div>
        </div>
    </div>
{{end}}